<section id="cellar">
  <h1>Bonjour, Léo</h1>
  <div class="cellar-alert">
    <p>Aucune action à effectuer</p>
    <i class="fas fa-check-circle"></i>
  </div>

  <div class="cellar-overview">
    <div class="cellar-img">
      <img
        src="https://res.cloudinary.com/dmiifjsrk/image/upload/c_scale,w_200/v1622123199/vieilles_vignes_chinon_pexc9g.png"
        alt=""
      />
      <img
        src="https://res.cloudinary.com/dmiifjsrk/image/upload/v1622123200/chateau_cliems_xhg5mp.png"
        alt=""
      />
      <img
        src="https://res.cloudinary.com/dmiifjsrk/image/upload/c_scale,w_200/v1622123198/chateau_tuileries_fiec8l.png"
        alt=""
      />
    </div>
    <div class="cellar-info">
      <h3>100 bouteilles</h3>
      <h3>3 bouteilles à leur appogée</h3>
    </div>
  </div>
  <ul class="cellar-list">
    <a href="#">
      <li>
        <img
          src="https://res.cloudinary.com/dmiifjsrk/image/upload/c_scale,w_200/v1622123198/chateau_tuileries_fiec8l.png"
          alt=""
        />
        <div class="bottle-info">
          <h4>Bottle's name</h4>
          <span>XXXX</span>
        </div>
        <div class="apogee-indicator"></div>
      </li>
    </a>
    <a href="#">
      <li>
        <img
          src="https://res.cloudinary.com/dmiifjsrk/image/upload/c_scale,w_200/v1622123198/chateau_tuileries_fiec8l.png"
          alt=""
        />
        <div class="bottle-info">
          <h4>Bottle's name</h4>
          <span>XXXX</span>
        </div>
        <div class="apogee-indicator"></div>
      </li>
    </a>
    <a href="#">
      <li>
        <img
          src="https://res.cloudinary.com/dmiifjsrk/image/upload/c_scale,w_200/v1622123198/chateau_tuileries_fiec8l.png"
          alt=""
        />
        <div class="bottle-info">
          <h4>Bottle's name</h4>
          <span>XXXX</span>
        </div>
        <div class="apogee-indicator"></div>
      </li>
    </a>
    <a href="#">
      <li>
        <img
          src="https://res.cloudinary.com/dmiifjsrk/image/upload/c_scale,w_200/v1622123198/chateau_tuileries_fiec8l.png"
          alt=""
        />
        <div class="bottle-info">
          <h4>Bottle's name</h4>
          <span>XXXX</span>
        </div>
        <div class="apogee-indicator"></div>
      </li>
    </a>
  </ul>
</section>
