#cellar {
  h1 {
    font-weight: bold;
  }
  .cellar-alert {
    position: sticky;
    top: 5.6em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
    background-color: $lightgreen;
    p {
      margin: 0;
      margin-right: 1em;
    }
  }
  .cellar-overview {
    width: 100%;
    padding: 0 1em;
    .cellar-img {
      display: flex;
      align-items: center;
      justify-content: space-around;
      img {
        width: 120px;
      }
    }
  }
  .cellar-list {
    margin-top: 2em;
    border-radius: 16px 16px 0 0;
    list-style: none;
    padding: 0;
    background-color: #fff;
    .cellar-info {
      padding: 1em;
      color: $text-common;
      display: flex;
      align-items: center;
      border-bottom: 1px solid lightgrey;
      .square-info {
        flex: 1 1;
        text-align: center;
        padding: 1em 0;
        span {
          font-size: 0.8em;
        }
      }
      h3 {
        font-size: 1.4em;
      }
    }
    a {
      color: black;
      text-decoration: none;
    }
    li {
      display: flex;
      align-items: center;
      border-bottom: 1px solid lightgray;
      padding: 1em 0;
      img {
        width: 30%;
      }
      .bottle-info {
        flex: 1 1;
        h4 {
          font-size: 1.2em;
          font-weight: bold;
        }
      }
      .apogee-indicator {
        width: 30px;
        height: 100%;
        background-color: $lightgreen;
      }
    }
  }
}
