.user-form-page {
  padding: 2em;
  h2 {
    text-align: center;
  }
  form {
    padding: 1em 0;
    input {
      border: none;
      border-bottom: 1px solid $prim;
      background-color: $whitebg !important;
    }
    .form-actions {
      input {
        width: 100%;
        background-color: $prim !important;
        color: #fff;
        font-weight: bold;
        padding: 1em;
        border-radius: 4px;
      }
    }
  }
}
