.image-show {
	width: 200px;
  margin-left: auto;
    margin-right: auto;
  img{
    width: 100%;
    
  }
}

.informations {
 
  text-align: center;

  h1{
    font-weight: bold;
  }
  h2 {
  font-size: 1.6em;
  }
  h3 {
    padding: 4px;
    font-size: 20px;
    font-weight: bold;
  }
  p{
    padding: 2px;
  }
}


.button {
  background-color: #FF7F11;
  text-align: center;
  color: white;
  border-radius: 3%;
  padding: 8px 24px;
  transition: background 0.3s ease;
  margin: 20px;
  display: inline-block;
}

.button:hover {
  background: #39393A;
  color: white;
}

.fas-arrow-left {
      color: white;
      text-decoration: none;
      size: 3x;
  }
  .fas-arrow-left:hover{
    background: #FF7F11;
  }
