// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/cellar";
@import "pages/search";

body {
  background-color: $whitebg;
  overflow-x: hidden;
  padding-bottom: 6em;
}

#top-logo {
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  padding-right: 1em;
  background-color: $whitebg;
  img {
    width: 50%;
  }
  .login-btn {
    padding: 1em;
    background-color: $prim;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
  }
  .setting-btn {
    color: $text-common;
    font-size: 1.5em;
  }
}

.hidden {
  display: none;
}

.search-form {
  width: 100%;
  padding: 1.3em 1em;
  border: none;
  &:focus {
    border: none;
    outline: none;
  }
}
